body {
    --primary-color: #e05342;
    --background-color: #e9dbce;
    transition: all 0.3s ease-in-out;
    background: var(--background-color);
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 42rem;
    zoom: 120%;
}

h1 {
    font-family: "Sansita Swashed", cursive;
    font-weight: 800;
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 0.5rem;
}

h2 {
    font-family: "Sansita Swashed", cursive;
    font-weight: 600;
}

h2.questions, h2.privacy_policy, h2.terms_of_service, h2.thank_you, h2.try_again{
    color: var(--primary-color);
    text-align: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

a:hover {
    font-size: 1.05rem;
}

iframe {
    width: 300px;
    height: 168.75px;
}

.container_inline_flex {
    display: inline-flex;
    align-items: center;
}

.question {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.answer {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#pitch {
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
}

#add_to_slack {
    width: 139px;
    height: 40px;
}

#label_languages, #languages, #language, #add_to_slack {
    margin-right: 0.5rem;
}

#label_languages, #languages {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

#question_bank {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

#footnote {
    font-style: italic;
    text-align: center;
}

footer {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.6rem;
}

footer a {
    color: black;
    padding: 0 0.5rem;
}

#shuffle {
    margin: auto;
    width: 20%;
}

@media only screen and (min-width: 640px) {
  /* Destktop */
  body {
    zoom: 100%;
  }

  iframe {
    width: 650px;
    height: 365px;
  }

  footer {
    font-size: 0.8rem;
  }
}