{% extends 'base.html' %}
{% block title %}<title>Fictionary</title>{% endblock %}
{% block body %}
<h1>Fictionary</h1>
<div id="pitch">An app to play <a href="https://en.wikipedia.org/wiki/Fictionary" >fictionary</a> on Slack.</div>
<h2>Demo</h2>
<p>
	<iframe src="https://www.youtube.com/embed/71_WyPFQz8Q"></iframe>
</p>
<h2>Installation</h2>
<div class="container_inline_flex">
	<label id="label_languages" for="languages">Languages:</label>
	<select id="languages" onchange="WriteLanguageSelected()" >
		<option selected>English</option>
		<option>French</option>
	</select>
</div>
<div class="container_inline_flex">
	<div id="language" ></div>
	<a id="add_to_slack"><img alt="Add to Slack" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"/></a>
</div>
<div id="question_bank"></div>
<h2>Start a game</h2>
<p>To start a game, a user types one of the following command:</p>
<ul>
	<li>/fictionary freestyle</li>
	<li>/fictionary automatic</li>
</ul>
<p>
	The first command lets the user write a question and an answer.
	The second command lets the user pick a question from the question bank.
</p>
<h2>Gameplay</h2>
<ol>
	<li>Players see only the question and write a credible answer.</li>
	<li>Players vote for the answer they believe is correct.</li>
	<li>Players win one point for voting for the game's answer and
        two points for each vote received on the answer they provided. </li>
</ol>
<div id="footnote">
	<p>Made with ❤️ by Augustin Barillec</p>
</div>
<footer>
	<a href="mailto:augustin.barillec@yokyok.ninja" >Support </a>
	<a href=https://github.com/augustin-barillec/fictionary >Github</a>
	<a href="/privacy_policy" >Privacy policy</a>
	<a href="/terms_of_service" >Terms of service</a>
</footer>
<script>
const languages = document.getElementById("languages");
const add_to_slack = document.getElementById("add_to_slack");
const language = document.getElementById("language");
const question_bank = document.getElementById("question_bank");

function ResetLanguages(){
 	for (var i = 0; i < languages.length; i++) {languages[i].selected = languages[i].defaultSelected;};
}

function WriteLanguageSelected() {
	var language_selected = languages.options[languages.selectedIndex].text;
	add_to_slack.href = `/language_${language_selected}_{{installation_state}}`;
	language.innerHTML = `${language_selected} version:`;
	question_bank.innerHTML = `This version uses the <a href="/questions_${language_selected}">${language_selected} question bank</a>.`;
}

window.addEventListener("pageshow", () => {
 	ResetLanguages();
 	WriteLanguageSelected();
 })
</script>
{% endblock %}