{% extends 'base.html' %}
{% block title %} <title>Fictionary | Privacy policy</title>{% endblock %}
{% block body %}
<a href="/">Home</a>
<h2 class="privacy_policy">Privacy Policy</h2>
<p>
    Fictionary is a Slack app for fun. It collects only the data necessary to its functioning.
</p>
<p>
    All data is stored in a Firestore instance in Europe. It is a private database
    provided by Google Cloud Platform.
</p>
<p>
    During the installation, we collect the following informations:
</p>
<ul>
	<li>Team ID, ex: TXXXXXXX. This allows the bot to select the correct authorization token in order to interact with your workspace.</li>
	<li>Authorization Token, the token granted by Slack to our bot in order to securely communicate with your workspace.</li>
</ul>
<p>
    For each game, we collect the following informations:
</p>
<ul>
	<li>User IDs involved with the game, ex: UXXXXXX.</li>
	<li>Channel ID where the game takes place, ex: CXXXXXX.</li>
    <li>The question written by the organizer if it is a freestyle game.</li>
	<li>The answers written by the players.</li>
</ul>
<p>
    If a game ends successfully, the data written by the users is automatically
    deleted within a day. If a game crashes, it is kept to help for debugging.
    Once the code is fixed, it is deleted manually. The data not written by the
    users is stored for monitoring purposes.
</p>
<p>
    If you want the data associated with your workspace to be removed, you can
    send a email at augustin.barillec@yokyok.ninja with your team ID.
</p>
{% endblock %}
