{% extends 'base.html' %}
{% block title %} <title>Privacy policy</title>{% endblock %}
{% block body %}
<a href="/">Home</a>
<h2 class="privacy_policy">Privacy Policy</h2>
<p>
    Fictionary is an app for fun. It collects only the data necessary to its functioning.
</p>
<p>
    All data is stored in a private Google Cloud Platform project.
</p>
<p>
    During the installation, the following data is collected:
</p>
<ul>
	<li>Team ID, e.g. TXXXXXXX. This allows the bot to select the correct authorization token in order to interact with your workspace.</li>
	<li>Authorization Token, the token granted by Slack to the bot in order to securely communicate with your workspace.</li>
</ul>
<p>
    This token is given two permissions scopes:
</p>
<ul>
	<li>chat:write. It enables the app to post messages in the conversations where it has been invited.</li>
	<li>commands. It enables the app to provide a slash command which lets a user launch a game.</li>
</ul>
<p>
    For each game, the following data is collected:
</p>
<ul>
	<li>User IDs involved with the game, e.g. UXXXXXX.</li>
	<li>Channel ID where the game takes place, e.g. CXXXXXX.</li>
    <li>The question and the answer written by the creator of the game if it is a freestyle game.</li>
	<li>The answers written by the players.</li>
</ul>
<p>
    If a game ends successfully, the data written by the users is deleted
    in about a day. If a game crashes, it is kept about 3 more days to help
    for debugging.

    The data not written by the users is stored for logging and
    monitoring purposes. It is deleted 30 days after its creation.
</p>
<p>
    If you want the data associated with your workspace to be deleted, you can
    send an email at augustin.barillec@yokyok.ninja with your team ID.
</p>
{% endblock %}
